@font-face {
    font-family: 'sanserifficregular';
    src: url('/css/fonts/sanseriffic-webfont.eot');
    src: url('/css/fonts/sanseriffic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/sanseriffic-webfont.woff') format('woff'),
         url('/css/fonts/sanseriffic-webfont.ttf') format('truetype'),
         url('/css/fonts/sanseriffic-webfont.svg#sanserifficregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'novablack';
    src: url('/css/fonts/nova_alt_black-webfont.eot');
    src: url('/css/fonts/nova_alt_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/nova_alt_black-webfont.woff') format('woff'),
         url('/css/fonts/nova_alt_black-webfont.ttf') format('truetype'),
         url('/css/fonts/nova_alt_black-webfont.svg#novablack') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'novabold';
    src: url('/css/fonts/nova_alt_bold-webfont.eot');
    src: url('/css/fonts/nova_alt_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/nova_alt_bold-webfont.woff') format('woff'),
         url('/css/fonts/nova_alt_bold-webfont.ttf') format('truetype'),
         url('/css/fonts/nova_alt_bold-webfont.svg#novabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'novaextrabold';
    src: url('/css/fonts/nova_alt_extrabold-webfont.eot');
    src: url('/css/fonts/nova_alt_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/nova_alt_extrabold-webfont.woff') format('woff'),
         url('/css/fonts/nova_alt_extrabold-webfont.ttf') format('truetype'),
         url('/css/fonts/nova_alt_extrabold-webfont.svg#novaextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'novalight';
    src: url('/css/fonts/nova_alt_light-webfont.eot');
    src: url('/css/fonts/nova_alt_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/nova_alt_light-webfont.woff') format('woff'),
         url('/css/fonts/nova_alt_light-webfont.ttf') format('truetype'),
         url('/css/fonts/nova_alt_light-webfont.svg#novalight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'novaregular';
    src: url('/css/fonts/nova_alt_regular-webfont.eot');
    src: url('/css/fonts/nova_alt_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/nova_alt_regular-webfont.woff') format('woff'),
         url('/css/fonts/nova_alt_regular-webfont.ttf') format('truetype'),
         url('/css/fonts/nova_alt_regular-webfont.svg#novaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'novasemibold';
    src: url('/css/fonts/nova_alt_semibold-webfont.eot');
    src: url('/css/fonts/nova_alt_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/nova_alt_semibold-webfont.woff') format('woff'),
         url('/css/fonts/nova_alt_semibold-webfont.ttf') format('truetype'),
         url('/css/fonts/nova_alt_semibold-webfont.svg#novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'novathin';
    src: url('/css/fonts/nova_alt_thin-webfont.eot');
    src: url('/css/fonts/nova_alt_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/nova_alt_thin-webfont.woff') format('woff'),
         url('/css/fonts/nova_alt_thin-webfont.ttf') format('truetype'),
         url('/css/fonts/nova_alt_thin-webfont.svg#novathin') format('svg');
    font-weight: normal;
    font-style: normal;
}

body,html{
  width:100%;
  height:100%;
  margin:0;
  padding:0;

}

#header {
      background: #bada55;
      color: white;
      font-family: Droid Sans;
      font-size: 18px;
      line-height: 1.6em;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      text-shadow: 0 1px 1px rgba(0,0,0,.2);
      width:100%;
      box-sizing:border-box;
    }









/*--------------------------  BEGIN Video -----------------------------*/


#video-container{
  position:fixed;
  height:100%;
  width:100%;
  top:0;
  left:0;
  z-index:-100;
  margin:0;
  padding:0; 
  background-color:#000;
}

#video {
  z-index: -1000;
  overflow:hidden;
  position:fixed;
  height:100%;
  width:100%;
  top:0;
  left:0;
  -webkit-transition:background-color 1000ms linear;
  -moz-transition:background-color 1000ms linear;
  -o-transition:background-color 1000ms linear;
  -ms-transition:background-color 1000ms linear;
} 

video{
  overflow:hidden;
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  -webkit-transition:background-color 1000ms linear;
  -moz-transition:background-color 1000ms linear;
  -o-transition:background-color 1000ms linear;
  -ms-transition:background-color 1000ms linear;
}

.widthFix{
  width:100%!important;
  height:auto!important
}

.heightFix{
  width:auto!important;
  height:100%!important
}

#video-container img {
  position:absolute;
  display:none;height:100%;
  width:auto;overflow:hidden
}
/*--------------------------  END Video -----------------------------*/




/*--------------------------  BEGIN Section-----------------------------*/



#screen1 {
    background: none repeat scroll 0% 0% transparent;
    height: 100%;  

}

#screen2 {
    background: none repeat scroll 0% 0% #fff;
    height: 100%; 
    float: left; 
}

#screen2-1,
#screen3-1,
#screen4-1{

  background: none repeat scroll 0% 0% transparent;
    height: 90px; 
    width: 100%; 
    float: left; 
    z-index: -5; 
    margin-top: -90px; 

}

#screen3 {
    background: none repeat scroll 0% 0% #FFF;
    height: 91%; 
    z-index: 2;
    float: left; 
}



#screen4 {
    background: none repeat scroll 0% 0% #222;
    height: 91%; 
    z-index: 2;
    float: left; 
}



#screen5 {
    background: none repeat scroll 0% 0% #7B7B7B;
    height: 91%; 
    width: 100%;
    z-index: 2;
    float: left; 
}

#screen6{
    background: none repeat scroll 0% 0% #333;
    height: 15%; 
    z-index: 2;
    float: left; 
}

section {
  z-index: 80; 
}

/*--------------------------  END Section -----------------------------*/


/*--------------------------------------------------------------------------------------
MENU MOBILE OFF CANVAS LEFT
  -------------------------------------------------------------------------------------*/

.menuMobile{
  display: none;
float: none;
position: fixed;
top: 0px;
z-index: 10;
background-color: rgba(39, 39, 39, 1);
border-bottom: solid 4px #F90042;
}

.square2{
  background-color: #fff; 
  height:50px; 
  width:auto;
}

.menu-wrap nav a {
  color: #B0B0B0;
  font-size: 1em !important; 
  font-family: 'novaregular';
  border-bottom-style: solid;
  border-bottom-color: #ADADAD; 
  border-bottom-width: 1px; 

}

.menu-wrap a:hover,
.menu-wrap a:focus {
  color: #333;
  font-size: 1em !important; 
}

/* Menu Button */
.menu-button {
 
  z-index: 2000;
  padding: 0;
  width: 2.5em;
  height: 2.25em;
  border: none;
  text-indent: 2.5em;
  font-size: 1.5em;
  color: transparent;
  background: transparent;
}

.menu-button2{
 
  height: 50px; 
  width: 50px; 
  padding: 0;
  border: none;
  background: transparent;
}

.menu-button::before {
  position: absolute;
  
  background: linear-gradient(#fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%);
  content: '';
}

.menu-button:hover {
  opacity: 0.6;
}

/* Close Button */
.close-button {
  width: 2em;
  height: 2em;
  position: absolute;
  right: 1em;
  top: 1em;
  font-family: 'novathin'; 
  overflow: hidden;
  text-indent: 1em;
  font-size: 0.75em;
  border: none;
  background: transparent;
  color: transparent;
}

.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  background: #bdc3c7;
}

.close-button::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close-button::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Menu */
.menu-wrap {
  position: fixed;
  z-index: 1001;
  width: 320px;
  height: 100%;
  right: 0px; 
  background: #fff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  -webkit-transform: translate3d(320px,0,0);
  transform: translate3d(320px,0,0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu, 
.icon-list {
  height: 100%;
}

.icon-list {
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.icon-list a {
  display: block;
  padding: 0.8em;
  -webkit-transform: translate3d(0,500px,0);
  transform: translate3d(0,500px,0);
}

.icon-list,
.icon-list a {
  -webkit-transition: -webkit-transform 0s 0.4s;
  transition: transform 0s 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.icon-list a:nth-child(2) {
  -webkit-transform: translate3d(0,1000px,0);
  transform: translate3d(0,1000px,0);
}

.icon-list a:nth-child(3) {
  -webkit-transform: translate3d(0,1500px,0);
  transform: translate3d(0,1500px,0);
}

.icon-list a:nth-child(4) {
  -webkit-transform: translate3d(0,2000px,0);
  transform: translate3d(0,2000px,0);
}

.icon-list a:nth-child(5) {
  -webkit-transform: translate3d(0,2500px,0);
  transform: translate3d(0,2500px,0);
}

.icon-list a:nth-child(6) {
  -webkit-transform: translate3d(0,3000px,0);
  transform: translate3d(0,3000px,0);
}

.icon-list a span {
  margin-left: 10px;
  font-weight: 700;
}

/* Shown menu */
.show-menu .menu-wrap {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .icon-list,
.show-menu .icon-list a {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .icon-list a {
  -webkit-transition-duration: 0.9s;
  transition-duration: 0.9s;
}

.show-menu .content::before {
  opacity: 1;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/*-------------------------- 
Animations
  -----------------------------*/
.hidden2{
  opacity: 0;
}

.visible{
  opacity: 1;
}




/*--------------------------  BEGIN menu -----------------------------*/

.menuCanned{
  position: absolute;

  height: 90px; 
  text-align: center;
  float: left;
  width: 100%; 
  margin-top: 0%;
 background-color: #222; 

}

#sticky{
  -webkit-transform: translateZ(0);
}

.sticky-wrapper{
  width: 100%;

}
#sticky{
    border-bottom: solid 4px #F90042;
}

.menuCanned ul li a{
  color:#fff;
  font-family: "sanserifficregular";
  letter-spacing: 7px;
  font-size: 0.8em;
  font-weight: 900; 
}

.menuCanned ul li a:hover{
  color:#C4C4C4 !important;
  background-color: transparent !important;
}

.linkMenu{
 margin-top: 20px !important; 
}

.square{
  background-color: #fff; 
  height:90px; 
  width:auto;
}



/*--------------------------  END menu -----------------------------*/










/*--------------------------  BEGIN Section#1 home -----------------------------*/


@import url(//fonts.googleapis.com/css?family=Oswald:400);

.full{
  width: 100%;
  height: auto; 
}

.logoIntro{
  height: 180px; 
  margin-top: 20%; 
}


.introText{
color: #FFF;
font-family: "novalight";
letter-spacing: 1.3px !important;
font-size: 1.15em;
opacity: 0.9 !important;
text-align: justify;

}

.introHero{
  font-family: "novaextrabold"; 
  font-size: 2.5em; 
  color: #fff; 
}

.porqueBtn{

margin-top: 4%; 

}



/*--------------------------  END HOME Section#1 home -----------------------------*/










/*--------------------------  BEGIN HOME Section#2 WHY -----------------------------*/

.why{
   
  padding: 8%;
}

.porque{
  font-family: "novasemibold";

}

.contTitle{
  font-family: 'novabold'; 
  color: #fff; 
}

.contText3{
  font-family: 'novaregular'; 
  color: #333; 
  font-size: 1.1em;
}

.imageService{
  height: 100%; 
  background-color: #333; 
  width: 50%; 
  float: left; 
  background-image: url("http://s5.postimg.org/yxoy4epzr/bigote.png");
  background-size: auto 100%; 
  padding-top: 30%; 
}

.imageService2{
  height: 100%; 
  width: 50%; 
  float: left; 
  background-color: #fff; 
 
}

.contTitle3{
  font-family: 'novablack'; 
  color: #222;
  font-size: 4.5em !important;  
}

.contTitle5{
  font-family: 'novalight' !important; 
  color: #333;
  font-size: 3em !important;  
}

/*--------------------------  END HOME Section#2 WHY -----------------------------*/








/*--------------------------  BEGIN HOME Section#3 Services -----------------------------*/

.column1{
  height: 50%; 
  background-color: #222;
  z-index: 3; 
  -webkit-box-shadow: 26px -1px 80px -19px rgba(0,0,0,0.82);
  -moz-box-shadow: 26px -1px 80px -19px rgba(0,0,0,0.82);
  box-shadow: 26px -1px 80px -19px rgba(0,0,0,0.82);
  padding: 4%; 
}

.column2{
  height: 50%;
  background-color: #FFF;
  float: left !important;
  padding-left: 0px !important; 
  padding-right: 0px !important;
  z-index: 2; 
  }

.column2:hover{
  background-color: #E8E8E8;
}

.contTitle6{
  font-family: 'novablack'; 
  color: #fff;
  font-size: 4.5em; 
  margin-top: 0px !important;  
  letter-spacing: 3px; 
}
.contText{
  font-family: 'novaregular'; 
  color: #fff; 
  font-size: 1.3em;
}

.contText4{
  font-family: 'novabold'; 
  color: #fff; 
  font-size: 1.4em;
}

.forja{
  margin-left: 0%; 
  opacity: 0.7; 
  width: 50%; 
}

.cuenta{
letter-spacing: 1px;
font-family: "novabold" !important;
text-align: center !important;
font-size: 0.8em; 
}

.nServicios{
  margin-top: 25%; 
}

.idea{
  margin-top: 40%; 
}

.iconoServicio{
  z-index: 4; 
  position: absolute;
  font-size: 6em; 
  margin-top: 25%;
  text-align: center;
  color: #fff;
  opacity: 0.8;
 
}

.iconoServicio span{
   transition: opacity 2.95s ;
 -moz-transition: opacity 2.95s ;
 -webkit-transition: opacity 2.95s ;
}


.iconoServicio h5{
   transition: opacity 2.95s ;
 -moz-transition: opacity 2.95s ;
 -webkit-transition: opacity 2.95s ;
}

/* ==================================Services IMAGEEFEECT ========================*/
.grid {
  position: relative;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  opacity: 0.8;
  height: 112% !important;
}

.grid figure figcaption {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption h1 {
  font-family: "novaregular";
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 30%; 
  width: 100%;
  height: 100%;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h5{
  display: none; 
  font-family: 'novabold';

}
.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin-left: 8%; 
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/* Individual effects */

/*---------------*/
/***** Julia *****/
/*---------------*/

figure.effect-julia {
  background: #2f3238;
}

figure.effect-julia img {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-julia figcaption {
  text-align: left;
}

figure.effect-julia h2 {
  font-size: 153%;
  opacity: 0;
  font-family: 'novalight';
  letter-spacing:2px; 
}

figure.effect-julia p {
  display: inline-block;
  margin: 0 0 0.25em;
  padding: 0.4em 1em;
  background: rgba(255,255,255,0.8);
  color: #2f3238;
  text-transform: none;
  font-weight: 500;
  font-size: 75%;
  margin-left: 6%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-550px,0,0);
  transform: translate3d(-550px,0,0);
}

.pasion{
  display: inline-block;
  margin: -26px 0px -40px 6% !important;
  padding: 0.4em 1em;
  background: transparent !important;
  color: #fff !important;
  font-family: 'novabold'; 
  text-transform: none;
  font-size: 2em !important;
  margin-left: 6%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-360px,0,0);
  transform: translate3d(-360px,0,0);
}

figure.effect-julia p:first-child {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.effect-julia p:nth-of-type(3) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.effect-julia:hover p:first-child {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

figure.effect-julia:hover p:nth-of-type(2) {
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

figure.effect-julia:hover p:nth-of-type(3) {
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
}

figure.effect-julia:hover p:nth-of-type(4) {
  -webkit-transition-delay: 2s;
  transition-delay: 2s;
}

figure.effect-julia:hover img {
  opacity: 0.4;
  -webkit-transform: scale3d(1.1,1.1,1);
  transform: scale3d(1.1,1.1,1);
}

figure.effect-julia:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-julia:hover h2 {
    opacity: 0.8; 
    transition: opacity .45s ease-in-out;
    -moz-transition: opacity .45s ease-in-out;
    -webkit-transition: opacity .45s ease-in-out;   
}

figure.effect-julia:hover span {
  opacity: 0; 
  transition: opacity .55s ;
  -moz-transition: opacity .55s ;
  -webkit-transition: opacity .55s ; 
}

figure.effect-julia:hover h5 {
  opacity: 0; 
  transition: opacity .55s ;
  -moz-transition: opacity .55s ;

}
 

figure.effect-julia:hover span img {
  opacity: 0; 
  transition: opacity .55s ;
  -moz-transition: opacity .55s ;
  -webkit-transition: opacity .55s ;
}

/*--------------------------  END Section#3 Services -----------------------------*/






















/*--------------------------  BEGIN Section#4 Clients -----------------------------*/

.columnC2{
  height: 100%; 
  z-index: 3; 
  padding: 3%; 

}

.columnC2 p{
  font-family: 'novaregular'; 
  color: #fff; 
  font-size: 1em; 
  opacity: 0.8; 
}

.columnC1{
  height: 100%;
  background-color: #333;
  background-image: url("http://s5.postimg.org/hkjfpfy1j/clients.jpg") !important;
  background-size: auto 100%; 
  background-position: 60%; 
  z-index: 3; 
-webkit-box-shadow: -17px 1px 19px -5px rgba(0,0,0,0.15);
-moz-box-shadow: -17px 1px 19px -5px rgba(0,0,0,0.15);
box-shadow: -17px 1px 19px -5px rgba(0,0,0,0.15);
  padding-left: 0px !important;
  padding-right: 0px !important; 

}

.client{
  float: left; 
  height: 42.5%; 
  transition: opacity 1.6s ease-in-out 0s, box-shadow 1.6s ease-in-out 0s; 
  
}

.client:hover img{

  opacity: 0.8; 
}

.client img{
  display: block;
  width: 170px;
  height:170px;
  margin: 20% auto;
  opacity: 0.5; 
}

.clienteTitle{
  height: 15%;
  background-color: #fff;
  padding-top: 0.2%; 
  padding-left: 3%; 
  text-align: left;
  z-index: 5;  
    
}

.clienteTitle2{
  height: 25%;
  background-color: #333;
  padding-top: 4%;
  text-align: center;
  z-index: 5;  
    
}
.testimonio{
  font-size: 14px; 
  color: #fff; 
  opacity: 0.5; 

}

.contTitle4{
  font-family: 'novablack'; 
  color: #333;
  font-size:3em; 
  
}

.forja2{
  margin-top: 5% !important; 
  opacity: 0.8 !important;
  font-family: 'novasemibold' !important;   
  font-size: 1.5em !important; 
}

.lets{
letter-spacing: 1px;
font-family: "novabold" !important;
text-align: center !important;
color: #8C1C1C !important; 
}


/*--------------------------  END Section#4 Clients -----------------------------*/
















/*--------------------------  BEGIN Section#5 Contact  -----------------------------*/

.columnCon{
  height: 100%;
  background-color: #fff;  
  float: left; 
  z-index: 4; 
  background-image: url("http://s5.postimg.org/6i9kr40lz/contact2.png");
  background-size: auto 100%;
  background-position: 92%;  
}

.columnCon2{
  height: 100%;
  background-color: #fff; 
  z-index: 4; 
  padding: 3% 30%; 
}

.contactHero{
  margin-top: 45%;
}

.columnSocial2{
  height: 100%;
  background-color: #DEDEDE; 
  text-align: center; 
  transition: background-color 0.3s ease-in-out 0s, box-shadow 0.3s ease-in-out 0s; 
}

.columnSocial2:hover{
  background-color: #fff;

}

.letsContact{
  width: 250px; 
}


.form{
  margin-top: 45%; 
}

.fieldContact{
  display: block;
  font-family: 'novasemibold'; 
  width: 100%;
  height: 45px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #333;
  background-color: rgba(255,255,255, 0.8);
  padding: 10px;
  border: solid 4px #CECECE;
  transition: border 0.3s
  background-image: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.textArea{
  height: 120px !important; 
}

.fieldContact:focus,
.fieldContact.focus{
  border: solid 4px #797979; 
}

.boton{
  width: 100%; 
  height: 45px; 
  font-family: 'novabold'; 
  background-color: #D13638;
  color: #fff; 
  border-radius: 0px !important; 
  letter-spacing: 2px !important; 
  font-size: 160% !important;  
  border: solid 0px rgba(0, 0, 0, 0.2) !important;
  transition: background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s; 
}

.boton:hover{
  background-color:#222; 
  color: #fff; 
  opacity: 1; 
}


.contactText{
  font-family: 'novaregular'; 
  color: #333; 
  font-size: 1.1em;
}

/*--------------------------  END  Section#4 Contact  -----------------------------*/
















/*--------------------------  BEGIN Footer  -----------------------------*/

.footerCan{  
  background-color: #333;
  border-top: solid 5px #D8D8DA; 
  z-index: 50; 
}

.footerCont{
padding: 1% 25%;
}

.footerCopy{
  margin-top: 3%; 
  font-size: 0.7em; 
}

.footerTip{
  margin-top: 6%;
}

.footerSocial{
  margin-top: 3%;  
}

.squareArrow{
  height: 35px; 
  width: 35px; 
  background-color: #D8D8DA; 
  padding: 5px; 
  -webkit-box-shadow: 0px 3px 7px 0px rgba(49, 50, 50, 0.43);
  -moz-box-shadow:    0px 3px 7px 0px rgba(49, 50, 50, 0.43);
  box-shadow:         0px 3px 7px 0px rgba(49, 50, 50, 0.43);
}

.arrow{
  height: 25px; 
  width: 25px; 
  opacity: 0.5; 
}

.socialIcon2{
  height: 22px; 
  width: 22px;  
}

.socialIcon:hover{
  opacity: 1; 
}

.inputFooter{
  padding: 10px !important;
  border: none !important;
  border-bottom: solid 2px #666161 !important;
  transition: border 0.3s !important;
  background-color: transparent;
  color: #fff !important;
  font-family: 'novaregular'; 
  width: 53%;  
}

.inputFooter:focus{
   border-bottom: solid 2px #969696  
}

.btnFooter{
  display: inline-block;
  
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  background-color: transparent;
  border: 4px solid #FFF;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  font-family: 'novabold'; 
  color: #fff; 
  letter-spacing: 2px;
  opacity: 0.5; 
  margin-left: 5%;
}

.logoFooter{
 height: 170px; 
 opacity: 0.5; 
 float: left;
}

.tip{
  margin-top: 5%; 
}

.btnFooter:hover{
opacity: 1; 
}

.nText{
  font-family: 'novaregular'; 
  color: #4D4D4D;
  font-size: 1.45em;
  margin-bottom: 2%; 
  letter-spacing: 0.5px; 
}

/*--------------------------  END Footer  -----------------------------*/




/*--------------------------  Preloader     -----------------------------*/

.logoLoader{
margin-left: 4%;
margin-top: 5%;
}


.spinner4 {
  width: 100px;
  height: 100px;
  background-color: #fff;
  -webkit-animation: rotateplane 2.2s infinite ease-in-out;
  animation: rotateplane 2.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

























/*------------------------------------------------------------------------------------


                                MEDIA Q




-------------------------------------------------------------------------------------*/

/*-------------------------- 
1824PX  
 -----------------------------*/
@media screen and (min-width :1824px){

.client img{
  display: block;
  width: 200px;
  height:200px;
  margin: 20% auto;
  opacity: 0.5; 
}

.introHero{
  font-size: 3.8em; 
}

.contTitle6{
  font-size: 5em; 
}


}



















/*-------------------------- 
1024PX  
 -----------------------------*/
@media screen and (max-width :1024px){


#screen2-1,
#screen3-1,
#screen4-1{
    height: 50px; 
    margin-top: -50px; 

}


/* -----------Section 1-------------------  */

  #video-container{
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover
  }
  
  #video-container img,#video-container video{
    display:none
  }

  .logoIntro{
    margin-top: 35%; 
  }

  .introHero{
    font-size: 2.5em; 
  }

  .introText{
    letter-spacing: 0.5px !important;
  }

  .menuCanned{
    display: none;
  }

  .menuMobile{
    display:block; 
  }


/* -----------Section 2-------------------  */


  .contTitle3{
    font-size: 4em !important;  
  }

/* -----------Section 3-------------------  */

.grid figure h5{
  display:block; 
  font-family: 'novabold';
}

.forja{
  width: 100%;
}


/* -----------Section 5-------------------  */
#screen5{

height: auto; 
}

/* -----------Footer-------------------  */
.footerCont{

padding: 1% 20%;
}


}
















/*-------------------------- 
990PX  
 -----------------------------*/


@media screen and (max-width :990px){

 /* -----------Section 0 home-------------------  */
  #screen1{
    height: auto; 
  }


/* -----------Section 2-------------------  */
 .contTitle3{
    font-size: 3em !important;  
  }

 .contTitle5{
    font-size: 2.5em !important;  
  }

/* ----------- Footer -------------------  */
.footerCont{
  padding: 1% 12%;
}

}














/*-------------------------- 
768PX  
 -----------------------------*/
@media screen and (max-width :768px){


/* -----------Section 1-------------------  */
  .porqueBtn{
    margin-bottom: 5%; 
  }

  .porque{
  font-size: 0.8em !important;
  }

  .imageService h1{
    font-size: 1.5em; 
    margin-top: 25%;
  }

  .imageService{
    background-position: -440px;
  }

/* -----------Section 2-------------------  */
  .contTitle3{

  font-size: 3em !important;  
}

  .contTitle5{

  font-size: 2.5em !important;  
}

/* -----------Section 3-------------------  */


  #screen3{
  height: auto; 
  width: 100%; 
  }

.column2{
  width: 100%; 

}

.column1{
  width: 100%; 
  height: auto; 
}

.column2{
    height: 600px; 
  }

.cuenta{
  display: none; 
}



/* -----------Section 4-------------------  */

#screen4{
  height:auto }


.columnC1{
  height: 400px;  
}


.columnC2{
  height: auto; 
  padding: 15%; 
}

.columnCon2 {

padding: 5% 15%;
}

}




























/*-------------------------- 
580PX  
 -----------------------------*/
@media screen and (max-width :600px){


 /* -----------Section 1-------------------  */

 .logoIntro{
    height:130px;
    margin-top: 12%;  
  }

  .introText{
    font-size: 1em;
  }

  .contTitle3{
    font-size: 2em !important;  
  }

  .contTitle5{
    font-size: 1.5em !important;  
  }

 /* -----------Section 2-------------------  */

  #screen2{
    height: auto; 
    float: left; 
  }

  .imageService h1{
    font-size: 1.5em; 
    margin-top: 25%; 
  }

  .imageService{
    height: 844px; 
  }

  .iconoServicio{
    margin-left: 41%; 
  }

/* ----------- Footer -------------------  */
.logoFooter{
  float: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.tip{
  float: none !important;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.inputFooter{
  width: 60%; 
}

.footerCont{
  padding: 5% 5%;
}

}









/*-------------------------- 
480PX  
 -----------------------------*/
@media screen and (max-width :480px){
/* -----------Section 1-------------------  */
  #screen1{
    height: auto; 

  }

  .logoIntro{
    height:160px;
    margin-top: 25%;  
  }


  .introHero{

    font-size: 1.4em; 
  }

  .introText{

  letter-spacing: 0.1px !important;
  }


/* -----------Section 2-------------------  */

.contTitle{
  margin-top: -26% !important;
}

.contTitle3{
  font-size: 3em !important;  
}

.contTitle5{
  font-size: 2em !important;  
}

.porque{
  font-size: 0.5em !important;
}
.imageService2{
  width: 100%; 
  padding-top: 15%;
}

.imageService{
  width: 100%; 
}

.imageService{
  height: 300px; 
}

.column2{
  height: 380px; 
}

.iconoServicio{
  margin-left: 33%; 
}

/* -----------Section 3-------------------  */

.forja{
  font-size: 1.2em; 
}

.contTitle6{
  font-size: 3em; 
}

.columnC1{
  height: 260px; 
}

.client{
  height: auto; 
}
.client img{
  height: auto; 
  opacity: 1; 
}


/* ----------- Footer -------------------  */

.footerCont{
  padding: 15% 5%;
}

.inputFooter{
  width: 90%;
  margin-bottom: 7%;  
}

.btnFooter{
  margin-left: 0%;
}

}














/*-------------------------- 
320PX
 -----------------------------*/

@media screen and (max-width :320px){

/* -----------Section 1-------------------  */
  #screen1{
    height: auto; 

  }

  .logoIntro{
    height:190px;
    margin-top: 28%;  
  }

  #video-container{
    height: 150%; 
  }

/* -----------Section 2-------------------  */
.porque{
  font-size: 0.5em !important;
}


}