doctype html
html(lang="es")
  head
    meta(charset="utf-8")        
    meta(property="og:type" content="website")
    meta(property="og:title" content="AYUDAMOS COMPAÑÍAS A REINVENTAR SU NEGOCIO!")
    meta(property="og:image" content="")
    meta(property="og:description" content="")
    meta(property="og:url" content="http://www.cannedhead.com")
    meta(content="" name="author")
    meta(content="width=device-width, initial-scale=1" name="viewport")   
    meta(name ="description" content="")
    title CannedHead

    <!-- FAVICON -->
    link(href="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/img/16x16.png" rel="shortcut icon" type="image/png") 

    <!-- CSS --> 
    link(href="/css/bootstrap.css", rel="stylesheet")
    link(href="/css/landing.css", rel="stylesheet")
       
  body
    .col-xs-12.no-padding.intro
      .col-xs-12.col-sm-7.no-padding.left-side
        .col-xs-10.col-xs-offset-1.col-sm-8.no-padding
          h1.col-xs-7.no-padding
            img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/landing/logo_cannedhead.svg", alt="CannedHead")
        .col-xs-11.col-xs-offset-1.no-padding
          h2 
            | creamos
            br
            | relaciones
            br
            | digitales
          p Desarrollo Web | Marketing Digital
      .col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-0.right-side
        p.text-justify Si tienes curiosidad y quieres escuchar más sobre nuestros servicios, no dudes en hacer contacto. Las mejores relaciones se contruyen hablando cara a cara y nosotros estamos dispuestos a hacerlo :)
        form#contactForm.col-xs-12.no-padding(action="/landing", method="post")                      
          .form-group
            input.form-control(type="text", name="user", placeholder="Nombre" required)             
          .form-group
            input.form-control(type="email" name="email" placeholder="E-mail" required)
          .form-group
            input.form-control(type="email" name="email" placeholder="E-mail" required)
          .form-group             
            textarea.form-control(name="message" placeholder="Mensaje" required)
          .form-group
            input.btn.btn-block.btn-blue(type="submit", value="CONTÁCTANOS")
    .col-xs-12
      h2.text-center Nuestros clientes
      .row
        .col-sm-1.col-sm-offset-1
          img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/landing/aldea_de_san_marco.svg", alt="Aldea San Marco")
        .col-sm-1
          img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/landing/argeda.svg", alt="Argeda")
        .col-sm-1
          img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/landing/casa_babylon.svg", alt="Casa Babylon")
        .col-sm-1
          img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/landing/clinica_loyola.svg", alt="Clínica Loyola")
        .col-sm-1
          img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/landing/diip.svg", alt="Diip")
        .col-sm-1
          img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/landing/feeling_surf.svg", alt="FeelingSurf")
        .col-sm-1
          img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/landing/fundacion_cepytin.svg", alt="Fundación Cepytin")
        .col-sm-1
          img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/landing/gecar.svg", alt="Gecar Ingenieria")      
        .col-sm-1
          img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/landing/global.svg", alt="Global")
        .col-sm-1
          img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/landing/hotel_montserrat.svg", alt="Hotel Montserrat Plaza")
      .row
        .col-sm-1.col-sm-offset-1
          img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/landing/jamming.svg", alt="Jamming Festival")
        .col-sm-1
          img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/landing/klapcast.svg", alt="Klapcast")
        .col-sm-1
          img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/landing/luis_carlos_tovar.svg", alt="Luis Carlos Tovar")
        .col-sm-1
          img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/landing/motores_seguros.svg", alt="Motores Seguros")
        .col-sm-1
          img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/landing/notaria_20.svg", alt="Notaria 20 del círculo de Medellin")
        .col-sm-1
          img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/landing/notaria_26.svg", alt="Notaria 26 del círculo de Bogotá")
        .col-sm-1
          img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/landing/optica_aguilar.svg", alt="Óptica Aguilar")
        .col-sm-1
          img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/landing/peregrino_urbano.svg", alt="Peregrino Urbano")
        .col-sm-1
          img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/landing/pillow.svg", alt="Pillow Education")
        .col-sm-1
          img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/landing/renoboy.svg", alt="Renoboy")
      .row
        .col-sm-1.col-sm-offset-4
          img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/landing/rustica.svg", alt="Rústika")
        .col-sm-1
          img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/landing/sietepm.svg", alt="Sietepm")
        .col-sm-1
          img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/landing/smart_brix.svg", alt="Smartbrix")
      
    <!-- jQuery & jQuery UI-->
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
   