doctype html
html(lang="es")
  head
      
    title Agencia Digital Bogotá | Marketing Online | Diseño Web | CannedHead           
    meta(property="description" content="CannedHead es una agencia digital que se especializa en crear estrategias digitales de marketing, diseño y desarrollo de aplicaciones móviles y web y soluciones IoT")
    meta(property="keywords" content="web sites, páginas web, marketing digital, sem, seo, iot, bogotá, colombia, ecommerce, app, social media, posicionamiento web")
    
    <!-- Behavioral markup -->  
    meta(charset="utf-8")   
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible" content="ie=edge")

    <!-- Schema.org markup for Google+ -->
    meta(itemprop="name" content="The Name or Title Here")
    meta(itemprop="description" content="This is the page description")
    meta(itemprop="image" content="http://www.example.com/image.jpg")

    meta(property="og:type" content="website")
    meta(property="og:title" content="AYUDAMOS COMPAÑÍAS A REINVENTAR SU NEGOCIO!")
    meta(property="og:image" content="")
    meta(property="og:description" content="")
    meta(property="og:url" content="http://www.cannedhead.com")
    meta(content="" name="author")
    

    <!-- FAVICON -->
    link(href="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/img/16x16.png" rel="shortcut icon" type="image/png") 

    <!-- CSS -->
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous")
    link(href="/css/yellow.css", rel="stylesheet")
       
  body
    nav.navbar
      a.navbar-brand.col-xs-8.col-sm-4.col-lg-3(href="#")
        h1.col-xl-10.no-padding
          img.img-fluid(src="img/logo.svg", alt="CannedHead")
    .container-fluid
      .col-xs-12.col-sm-6
        h2.header
          | Un sitio web sin 
          br
          | visitas,  es igual a
          br
          | 1.000 tarjetas personales 
          br
          span sin entregar 
        hr
        p Diseño &amp; Desarrollo Web | Marketing Digital | Soluciones IoT
      .col-xs-12.col-sm-6
        form
          p Desarrollamos estrategias digitales que permiten que tu negocío consigas mas clientes, escribete y pronto estaremos contacto.
          fieldset.form-group
            label(for='exampleInputEmail1') Nombre
            input#exampleInputEmail1.form-control(type='text', placeholder='Enter email')
            small.text-muted We'll never share your email with anyone else.
          fieldset.form-group
            label(for='exampleInputEmail1') Teléfono
            input#exampleInputEmail1.form-control(type='text', placeholder='Enter email')
            small.text-muted We'll never share your email with anyone else.  
          fieldset.form-group
            label(for='exampleInputEmail1') Email
            input#exampleInputEmail1.form-control(type='email', placeholder='Enter email')
            small.text-muted We'll never share your email with anyone else.        
          fieldset.form-group
            label(for='exampleTextarea') Mensaje
            textarea#exampleTextarea.form-control(rows='3')
          .checkbox
            label
              input(type='checkbox')
              |  Acepto recibir correos
          button.btn.btn-primary(type='submit') Quiero que mecontacten


    <!-- jQuery & Bootstrap JS-->
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous")
  
   