doctype html
html(lang="en")
  head
    meta(charset="utf-8")     
    meta(name='description', content='Creamos relaciones digitales de valor para su empresa')
    // Schema.org markup for Google+
    meta(itemprop='name', content='Creamos relaciones digitales de valor para su empresa')
    meta(itemprop='description', content='Marketing Digital / Desarrollo web / Apps / Soluciones IOT')
    meta(itemprop='image', content='http://d1q7w1k8zlumh6.cloudfront.net/landing/Canned-Social.png')
    // Twitter Card data
    meta(name='twitter:card', content='http://d1q7w1k8zlumh6.cloudfront.net/landing/Canned-Social.png')
    meta(name='twitter:title', content='Creamos relaciones digitales de valor para su empresa?')
    meta(name='twitter:description', content='Marketing Digital / Desarrollo web / Apps / Soluciones IOT')
    // Twitter summary card with large image must be at least 280x150px
    meta(name='twitter:image:src', content='http://d1q7w1k8zlumh6.cloudfront.net/landing/Canned-Social.png')
    // Open Graph data
    meta(property='og:title', content='Creamos relaciones digitales de valor para su empresa')
    meta(property='og:type', content='business.business')
    meta(property='og:url', content='http://www.cannedhead.com/')
    meta(property='og:image', content='http://d1q7w1k8zlumh6.cloudfront.net/landing/Canned-Social.png')
    meta(property='og:description', content='Marketing Digital / Desarrollo web / Apps / Soluciones IOT')
    meta(property='og:site_name', content='CANNEDHEAD')
    meta(property="business:contact_data:street_address" content="Carrera 50 #114-17") 
    meta(property="business:contact_data:locality"       content="Bogota")
    meta(property="business:contact_data:postal_code"    content="111111e") 
    meta(property="business:contact_data:country_name"   content="Colombia")
    meta(property="place:location:latitude"              content="4.698628")
    meta(property="place:location:longitude"             content="-74.0618873") 


    meta(content="width=device-width, initial-scale=1" name="viewport")   
    title Creacion de paginas web, desarrollo aplicaciones móviles y experiencias digitales, Bogota. Canned Head

    <!-- FAVICON -->
    link(href="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/img/16x16.png" rel="shortcut icon" type="image/png") 

    <!-- CSS --> 
    link(href="/css/bootstrap.css", rel="stylesheet")
    link(href="/css/style.css", rel="stylesheet")
       
  body
    block content

    footer.footer.footerCan
      .container
        .col-sm-12
          a(href="#").squareArrow.pull-right.scrollup
            img.arrow(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/img/arrow.png")
        .col-sm-12.footerCont     
            img.img-responsive.logoFooter(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/img/logo.png")
            .pull-right.tip
              p.nText RECIBE TIPS, RECURSOS Y NOTICIAS
              form#newsletterForm(action="/newsletter" method="POST")
                input.inputFooter(type="email" name="email" placeholder="Ingresa tu e-mail" required)
                input.btnFooter(type="submit", value="SUSCRIBIRME") 
              span.glyphicon.glyphicon-ok(style="")

        .col-sm-12.footerCopy(style='text-align:center; color:#fff;')        
          p(style='opacity:0.2;').copyright &copy; 2015 CannedHead Todos los derechos reservados.
    


    <!-- jQuery & jQuery UI-->
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(src="/js/viewportchecker.js")
    script(src="/js/jquery.sticky.js")
    script(src="/js/scroll.js")
    script(src="/js/smoothscroll.js")
    script(src="/js/modernizr.custom.js")        
    block scripts
    script.
      $( "#newsletterForm" ).submit(function( event ) {

        event.preventDefault();
        
        
        var form = $( this ),
            data = form.serialize(),
            url = form.attr( "action" );
       
        $.ajax({
          type: "POST",
          url: url,
          data: data,
          success: function(data, textStatus, xhr) {              
               $('#newsletterForm')[0].reset();                   
          },
          complete: function(xhr, textStatus) {
              if(xhr.status==409){
                  //alert('ya se encuentra registrado!');
              }
          } 
        });
      });